{% extends 'base.html.twig' %}

{% block stylesheets %}    

{{ encore_entry_link_tags('app') }}

{% endblock %}

{% block body %}

<ul>
    <li class="rouge">{{ fruit }} </li>
</ul>
<div class="blue">it's blue</div>
<div class="red">it's red</div>

{% endblock %}